body{
  font-family: 'Roboto Mono', monospace;
}

.centerText {
  margin: auto;
  width: 400px;
  white-space: nowrap;
}

#webDev{
  position: absolute;
  margin-top: 50px;
  margin-left: -100px;
  background-color: red;
  z-index: -1;
}

.title{
  display: flex;
  font-size: 50px;
  text-align: center;
  justify-content: center;
}

.frontpageMenu{
  display: flex
  color: #ff0018;
  font-size: 20px;
  text-align: center;
  overflow: scroll;
  text-align: left;
}

.portfolioLink{
  color: #ff0018;
  cursor: pointer;
}

.contactLink{
  color: red;
  cursor: pointer;
}

.portfolioContent{
  display: flex;
  position: absolute;
  right: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
}

.navbarPortfolio{
  position: absolute;
  right: 100%;
  top: 0%;
  cursor: pointer;
  color: #ff0018;
}

#contactButtonPortfolio{
  margin-left: 20px;
}

.portfolioItem{
  width: 300px;
}

.portfolioPhoto{
  width: 300px;
}

.returnHomePortfolio{
  color: #ff0018;
}

.contactContent{
  display: none;
  position: absolute;
  left: 150%;
}

.navbarContacts{
  color: red;
}

.contactInfo{
  width: 400px;
  text-align: center;
  margin: auto;
  margin-top: 90px;
}

a {
  color: black;
}

#portfolioButtonContacts{
  margin-left: 20px;
}
